<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>01_ServeletsJSP_LifeCycle</display-name>
  <welcome-file-list>
    <welcome-file>employeeDetails.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LifecycleServlet</display-name>
    <servlet-name>LifecycleServlet</servlet-name>
    <servlet-class>com.jlt.controller.LifecycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifecycleServlet</servlet-name>
    <url-pattern>/LifecycleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDetais</display-name>
    <servlet-name>EmployeeDetais</servlet-name>
    <servlet-class>com.jlt.controller.EmployeeDetais</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDetais</servlet-name>
    <url-pattern>/EmployeeDetais</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculationsServlet</display-name>
    <servlet-name>CalculationsServlet</servlet-name>
    <servlet-class>com.jlt.controller.CalculationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculationsServlet</servlet-name>
    <url-pattern>/CalculationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calculation</display-name>
    <servlet-name>Calculation</servlet-name>
    <servlet-class>com.jlt.controller.Calculation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculation</servlet-name>
    <url-pattern>/Calculation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MultiplicationTableServlet</display-name>
    <servlet-name>MultiplicationTableServlet</servlet-name>
    <servlet-class>com.jlt.controller.MultiplicationTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiplicationTableServlet</servlet-name>
    <url-pattern>/MultiplicationTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginpage</display-name>
    <servlet-name>Loginpage</servlet-name>
    <servlet-class>com.jlt.controller.Loginpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginpage</servlet-name>
    <url-pattern>/Loginpage</url-pattern>
  </servlet-mapping>
</web-app>